<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.min.css">
    <link rel="stylesheet" href="css/wi-feedback.min.css">
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-locale_ru-by.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.wi-feedback.min.js"></script>
    <script src="js/script.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=jQuery.fn.lpMapInit" type="text/javascript" async></script>
</head>

<body>

    <header>
        <div class="container">
            <ul>
                <li><a href="#slideshow">Главная</a></li>
                <li><a href="#services">Услуги</a></li>
                <li><a href="#portfolio">Портфолио</a></li>
                <li><a href="#prices">Цены</a></li>
                <li><a href="#contacts">Контакты</a></li>
            </ul>
        </div>
    </header>

    <section id="slideshow">
        <div class="container">
            <div class="lp-content">
                <div class="owl-carousel lp-slider1">
                    <img src="img/slideshow/slide1.jpg" alt="Продукт 1">
                    <img src="img/slideshow/slide2.jpg" alt="Продукт 2">
                    <img src="img/slideshow/slide3.jpg" alt="Продукт 3">
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="lp-content">
                <h2>Услуги</h2>
                <div class="lp-tabs">
                    <div data-tab-title="Услуга 1">
                        <p class="text-center"><strong>Услуга 1</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio expedita ut, qui illum sed impedit, nesciunt quidem veritatis accusantium maxime odio debitis. Dolor odit ut nisi sit a at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio expedita ut, qui illum sed impedit, nesciunt quidem veritatis accusantium maxime odio debitis. Dolor odit ut nisi sit a at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio expedita ut, qui illum sed impedit, nesciunt quidem veritatis accusantium maxime odio debitis. Dolor odit ut nisi sit a at.</p>
                        <p class="text-center">
                            <a href="#lp-srv1" class="btn btn-primary lp-mfp-inline">Подробнее...</a>
                            <a href="#lp-fb1" class="btn btn-primary lp-fb1-link" data-wi-fb-info="Услуга 1">Заказать</a>
                        </p>
                    </div>
                    <div data-tab-title="Услуга 2">
                        <p class="text-center"><strong>Услуга 2</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio expedita ut, qui illum sed impedit, nesciunt quidem veritatis accusantium maxime odio debitis. Dolor odit ut nisi sit a at.</p>
                        <p class="text-center">
                            <a href="#lp-srv2" class="btn btn-primary lp-mfp-inline">Подробнее...</a>
                            <a href="#lp-fb1" class="btn btn-primary lp-fb1-link" data-wi-fb-info="Услуга 2">Заказать</a>
                        </p>
                    </div>
                    <div data-tab-title="Услуга 3">
                        <p class="text-center"><strong>Услуга 3</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio expedita ut, qui illum sed impedit, nesciunt quidem veritatis accusantium maxime odio debitis. Dolor odit ut nisi sit a at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio expedita ut, qui illum sed impedit, nesciunt quidem veritatis accusantium maxime odio debitis. Dolor odit ut nisi sit a at.</p>
                        <p class="text-center">
                            <a href="#lp-srv3" class="btn btn-primary lp-mfp-inline">Подробнее...</a>
                            <a href="#lp-fb1" class="btn btn-primary lp-fb1-link" data-wi-fb-info="Услуга 3">Заказать</a>
                        </p>
                    </div>
                    <div data-tab-title="Услуга 4">
                        <p class="text-center"><strong>Услуга 4</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio expedita ut, qui illum sed impedit, nesciunt quidem veritatis accusantium maxime odio debitis. Dolor odit ut nisi sit a at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio expedita ut, qui illum sed impedit, nesciunt quidem veritatis accusantium maxime odio debitis. Dolor odit ut nisi sit a at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio expedita ut, qui illum sed impedit, nesciunt quidem veritatis accusantium maxime odio debitis. Dolor odit ut nisi sit a at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio expedita ut, qui illum sed impedit, nesciunt quidem veritatis accusantium maxime odio debitis. Dolor odit ut nisi sit a at.</p>
                        <p class="text-center">
                            <a href="#lp-srv4" class="btn btn-primary lp-mfp-inline">Подробнее...</a>
                            <a href="#lp-fb1" class="btn btn-primary lp-fb1-link" data-wi-fb-info="Услуга 4">Заказать</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="container">
            <div class="lp-content">
                <h2>Портфолио</h2>
                <div class="owl-carousel lp-slider2 lp-gallery">
                    <a href="img/slideshow/slide1.jpg"><img src="img/slideshow/slide1.jpg" alt="Работа 1"></a>
                    <a href="img/slideshow/slide2.jpg"><img src="img/slideshow/slide2.jpg" alt="Работа 2"></a>
                    <a href="img/slideshow/slide3.jpg"><img src="img/slideshow/slide3.jpg" alt="Работа 3"></a>
                    <a href="img/slideshow/slide1.jpg"><img src="img/slideshow/slide1.jpg" alt="Работа 4"></a>
                    <a href="img/slideshow/slide2.jpg"><img src="img/slideshow/slide2.jpg" alt="Работа 5"></a>
                    <a href="img/slideshow/slide3.jpg"><img src="img/slideshow/slide3.jpg" alt="Работа 6"></a>
                    <a href="img/slideshow/slide1.jpg"><img src="img/slideshow/slide1.jpg" alt="Работа 7"></a>
                    <a href="img/slideshow/slide2.jpg"><img src="img/slideshow/slide2.jpg" alt="Работа 8"></a>
                    <a href="img/slideshow/slide3.jpg"><img src="img/slideshow/slide3.jpg" alt="Работа 9"></a>
                </div>
            </div>
        </div>
    </section>

    <section id="prices" ng-app="lpApp">
        <div class="container">
            <div class="lp-content" ng-controller="lpPriceCtrl">
                <h2>Цены</h2>
                <table ng-show="prices" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th ng-click="sortSet('name')">
                                <span>Наименование</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'name'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'name' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'name' && sortRev"></i>
                            </th>
                            <th ng-click="sortSet('price')">
                                <span>Цена</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'price'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'price' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'price' && sortRev"></i>
                            </th>
                            <th ng-click="sortSet('discount')">
                                <span>Скидка</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'discount'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'discount' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'discount' && sortRev"></i>
                            </th>
                            <th ng-click="sortSet('price2')">
                                <span>Цена со скидкой</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'price2'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'price2' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'price2' && sortRev"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="price in prices | orderBy:sortBy:sortRev">
                            <td>{{$index + 1}}</td>
                            <td>
                                <span>{{price.name}}</span>
                                <i ng-show="price.discount" class="fas fa-tag"></i>
                            </td>
                            <td>{{price.price | currency}}</td>
                            <td>
                                <span ng-show="price.discount">{{price.discount * 100}}%</span>
                                <span ng-hide="price.discount">-</span>
                            </td>
                            <td>{{price.price2 | currency}}</td>
                        </tr>
                    </tbody>
                </table>
                <div ng-hide="prices" class="alert alert-danger">При загрузке данных произошла ошибка {{requestStatus}} {{requestStatusText}}.</div>
            </div>
        </div>
    </section>

    <section id="contacts">
        <div class="container">
            <div class="lp-content">
                <h2>Контакты</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Карта проезда</h2>
                        <div id="lp-map"></div>
                    </div>
                    <div class="col-sm-6">
                        <div id="lp-fb2">
                            <h2>Обратная связь</h2>
                            <h3>Заполните контактные данные, и мы свяжемся с вами в кратчайшие сроки:</h3>
                            <input type="text" name="name" maxlength="50" data-wi-fb-caption="Имя" placeholder="Ваше Имя..." />
                            <input type="tel" name="phone" maxlength="50" data-wi-fb-caption="Телефон" placeholder="Ваш Телефон..." required />
                            <input type="email" name="email" maxlength="50" data-wi-fb-caption="Почта" placeholder="Ваш E-mail..." />
                            <textarea name="message" maxlength="500" data-wi-fb-caption="Сообщение" placeholder="Сообщение..."></textarea>
                            <button>Отправить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>© Landing Page 2017</p>
        </div>
    </footer>

    <div class="lp-modals">

        <div id="lp-srv1" class="lp-popup">
            <h2>Описание услуги 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam molestiae amet suscipit repudiandae inventore velit nobis officia deserunt fugit labore fugiat nemo consectetur, consequuntur quisquam quasi rerum, praesentium unde quaerat.</p>
        </div>

        <div id="lp-srv2" class="lp-popup">
            <h2>Описание услуги 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos perspiciatis hic nulla nam non esse, dignissimos ex eum earum laudantium reiciendis voluptatibus eos praesentium laborum fugit excepturi, consequuntur impedit minus.</p>
        </div>

        <div id="lp-srv3" class="lp-popup">
            <h2>Описание услуги 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut rerum, maxime quas minus dolore ab ipsa odit. Esse natus architecto, minus molestiae corrupti adipisci! Culpa ratione eaque velit, quisquam.</p>
        </div>

        <div id="lp-srv4" class="lp-popup">
            <h2>Описание услуги 4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, non, reprehenderit? Dolores sunt, obcaecati, voluptatem quaerat labore reiciendis aspernatur nesciunt facere, facilis minima voluptate excepturi dolorum veritatis. Provident, nemo, alias!</p>
        </div>

        <div id="lp-fb1">
            <h2>Заказать консультацию</h2>
            <h3>Заполните контактные данные, и мы свяжемся с вами в кратчайшие сроки:</h3>
            <input type="text" name="name" maxlength="50" data-wi-fb-caption="Имя" placeholder="Ваше Имя..." />
            <input type="tel" name="phone" maxlength="50" data-wi-fb-caption="Телефон" placeholder="Ваш Телефон..." required />
            <input type="email" name="email" maxlength="50" data-wi-fb-caption="Почта" placeholder="Ваш E-mail..." />
            <textarea name="message" maxlength="500" data-wi-fb-caption="Сообщение" placeholder="Сообщение..."></textarea>
            <button>Перезвоните мне</button>
        </div>

    </div>

</body>

</html>
